body {
  padding-top: 120px;
  background: linear-gradient(to bottom, lightpink, lightblue);
}

.picture-preview {
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture-main {
  margin-top: 25px;
  height: 700px;
  width: 1000px;
  right: 0;
  padding: 1vh 1vw;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
}

.main-title,
.book-month-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: black;
  padding: 1vh 1vw;
  font-size: calc(15px + 1.5vmin);
  font-family: Spinnaker , sans-serif;
  border-bottom: 2px solid rgb(228, 228, 228);
}

.about-section,
.book-month-intro,
.book-month-info {
  padding: 0 10%;
  line-height: 2;
  align-items: center;
  font-family: Spinnaker, sans-serif;
}

.about-section,
.book-month-info {
  font-size: 25px;
  border-bottom: 2px solid rgb(228, 228, 228);
}

.book-month-title,
.book-month-intro,
.book-month-info {
  font-size: 25px;
}

.book-month-content {
  display: flex;
  flex-wrap: wrap; /* This allows the items to wrap as needed with this property */
  justify-content: center;
  align-items: start;
}

.book-month-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 500px;
  margin: 1em;
}

.book-cover {
  max-width: 100%;
  height: auto;
  margin: 1em 0;
}

.book-month-cover:hover {
  filter: brightness(85%);
}

@media screen and (max-width: 600px) {
  .book-month-cover, .book-month-info {
    flex: 1 1 auto; /* On smaller screens we let the elements take the full width and decide their height */
  }

  .picture-main {
    padding-top: 80px;
    height: 200px;
    padding-left: 50px;
  }

  .main-title {
    font-size: calc(6px + 2vmin); /* Increase font size on smaller screens */
  }

  .book-month-title{
    font-size: calc(6px + 2vmin); /* Increase font size on smaller screens */
  }
  .about-section,
  .book-month-intro,
  .book-month-info {
    padding: 0 5%;
  }
}
